body {
    margin: 0;
    /* font-family: 'LED Digital 7', sans-serif; */
    font-family: 'Serif Dot Digital-7', sans-serif;

    text-align: center;
    padding: 20px;
    font-size: 40px; 
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid brown;
    background: silver;
    border-radius: 20px;
    padding: 0 10px 160px 10px;
    width: auto;
    height: 500px;
    
}

.blk-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: black;
    color: red;
    border-radius: 20px;
       
}

.score-el {
    /* border: 2px solid orange; */
    font-size: 180px;
    margin: 20px 10px 30px 40px;
}

