body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 5vh;
    font-size: 35px;
}

#apple-shelf {
    background: #e63946;
    width: 50vh;
    height: 7vh;
    border-radius: 25px;
    padding: 1vh;
}

#orange-shelf {
    background: #fb8b24;
    width: 50vh;
    height: 7vh;
    border-radius: 25px;
    padding: 1vh;
}