body {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    margin: 0;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    
}

#stage {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 40vh;
    height: 30vh;
}

#fightButton {
    margin-top: 10px;
    font-family: inherit;
    width: 45vh;
    height: 10vh;
    font-size: large;
    font-weight: 800;
    border-radius: 20px;
    background: orange;
    color: white;
}
