body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.main-ctn {
    border: 1px black solid;
    border-radius: 20px;
    width: 60vh;
    height: 40vh;
    padding: 10vh 5vh;
    background-color: #1b263b;
    color: white;
    margin: 0px;
}

#text-el {
    color: #52b788;
}

h1 {
    margin: 0;
}

p {
    margin: 1vh 0 0 0;
}

#gen-pass-btn {
    border: none;
    width: 21vh;
    height: 5vh;
    border-radius: 10px;
    margin: 5vh 1vh 3vh 0;
    background: #52b788;
    color: white;


    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#sep-el {
    height: 3px;
    border: none;
    background-color: #202c43;
}

.out-section {
    display: flex;
    justify-content: space-between;
}

#pass-one, #pass-two {
    margin: 3vh 0 0 0;
    width: 28vh;
    height: 5vh;
    border-radius: 10px;

    background: #202c43;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

